<h3>this form doesnt work yet :( </h3>

<!--
<table>
  <thead>
  <tr>
    <th>Titel</th>
    <th>Prijs</th>
    <th>Omschrijving</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dienst of diensten$ | async">
    <td>
      <div>{{dienst.titel}}</div>
    </td>
    <td>
      <div>{{dienst.prijs}}</div>
    </td>
    <td>
      <div>{{dienst.omschrijving}}</div>
    </td>
    <td>
      <button (click)="toevoegenWinkelmandje(dienst)">Voeg toe aan winkelmandje</button>
    </td>
  </tr>
  </tbody>
</table>
-->
