button {
  background: none;
  border: 1px gray(500);
  color: darkslategray;
  padding: 5px;
  font-size: 8px;
  cursor: pointer;
  margin: 3px 0;
}

th, td {
  padding: 7px;
}
th {
  border-bottom: 2px darkslategray;
  text-align: left;
  margin: 0;
  color: tomato;
}
td {
  border-bottom: 1px darkslategray;
  color: darkslategray;
}

td a:first-child {
  margin-right: 10px;
}
