<table>
  <thead>
  <tr>
    <th>Titel</th>
    <th>Prijs</th>
    <th>Soort Advertentie</th>
    <th>Omschrijving</th>
    <th>Aanbieder</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of producten$ | async">
    <td>
      <div>{{product.titel}}</div>
    </td>
    <td>
      <div>{{product.prijs}}</div>
    </td>
    <td>
      <div>{{product.soortAdvertentie}}</div>
    </td>
    <td>
      <div>{{product.omschrijving}}</div>
    </td>
    <td>
      <div>{{product.eigenaar.gebruikersnaam}}</div>
    </td>
    <td>
      <button (click)="toevoegenWinkelmandje(product)">Voeg toe aan winkelmandje</button>
    </td>
  </tr>
  </tbody>
</table>
