<h2> Voeg hier uw gegevens in </h2>

<form (submit)="addGebruiker()" [formGroup]="addGebruikerForm" novalidate id="reactive-form">
  <div>
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" id="rfm-gebruikersnaam" formControlName="gebruikersnaam" placeholder="gebruikersnaam">
    <span *ngIf="addGebruikerForm.get('gebruikersnaam')?.touched && addGebruikerForm.get('gebruikersnaam')?.invalid">*</span>
    <span *ngIf="addGebruikerForm.get('gebruikersnaam')?.touched && addGebruikerForm.get('gebruikersnaam')?.errors?.required">Vul een gebruikersnaam in aub</span>
  </div>
  <div>
    <i class="fa fa-lock" aria-hidden="true"></i>
    <input type="password" id="rfm-wachtwoord" formControlName="wachtwoord" placeholder="wachtwoord">
    <span *ngIf="addGebruikerForm.get('wachtwoord')?.touched && addGebruikerForm.get('wachtwoord')?.invalid">*</span>
    <span *ngIf="addGebruikerForm.get('wachtwoord')?.touched && addGebruikerForm.get('wachtwoord')?.errors?.required">Vul een in wachtwoord in aub</span>
  </div>
  <button [disabled]="addGebruikerForm.invalid">Maak een account aan.</button>
</form>
